[profile.default]
src = "contracts"
test = "test"
out = "out"
libs = ["lib"]

optimizer = true
optimizer_runs = 200
solc_version = "0.8.20"
evm_version = "paris"

[fuzz]
runs = 256

[fmt]
line_length = 100
tab_width = 2
bracket_spacing = true

[profile.ci]
fuzz = { runs = 128 }
